Repository hashicorp/go-azure-helpers, pull requests merged in 2021-11, with the labels that each got.

#86 resourcemanager/resourceids: raising an error if any segments are empty
  resourcemanager/resourceids/parse.go
  resourcemanager/resourceids/parse_test.go
Labels: bug

#89 upgrading to Go 1.17 & the Azure SDK / go-autorest to Latest
  go.mod
  go.sum
Labels: dependencies

#83 Support for oauth v2 tokens, Microsoft Graph, and a fix for Azure CLI 2.30.0
  .gitignore
  authentication/auth_method.go
  authentication/auth_method_azure_cli_token.go
  authentication/auth_method_azure_cli_token_multi_tenant.go
  authentication/auth_method_azure_cli_token_multi_tenant_test.go
  authentication/auth_method_client_cert.go
  authentication/auth_method_client_secret.go
  authentication/auth_method_client_secret_multi_tenant.go
  authentication/auth_method_client_secret_test.go
  authentication/auth_method_msi.go
  authentication/azure_cli_access_token.go
  authentication/azure_cli_access_token_test.go
  authentication/azure_cli_profile_multi_tenant.go
  authentication/azure_cli_profile_multi_tenant_population.go
  authentication/azure_sp_objectid.go
  authentication/builder.go
  authentication/config.go
  authentication/environment.go
  authentication/environment_test.go
  go.mod
  go.sum
  storage/sas_token_test.go
Labels: enhancement, dependencies
